html {
    background-color:white;
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

.center {
    text-align: center;
    display: block;
}

/* For the About and Store at the top left  */
#hptl a{
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
/* For the Gmail and Images buttons at the top right  */
#rightButtons {
    margin-left: 750px;
    display: inline-block;
    color: #000;
    opacity: 0.75;

}

a:hover {
    color: red;
}

.rightButtonsSpacing {
    padding-left: 3px;
    padding-right: 3px;
}

#miniGrid {
    width: 12px;
}

#miniCircleProfile {
    display: inline-block;
    width: 20px;
}

#searchBox {
    margin-top: 20px;
    width: 400px;
    height: 33px;
}

#searchBox:hover {
    box-shadow: -1px 1px 5px grey;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: rgba(0,0,0,0.08);
}

#footer a {
    display: inline-block;
}

.footerTextBox {
    margin-left: 30px;
    white-space: nowrap;
}

.footerTextLeft {
    float: left;
    padding-left: 27px;
    margin: 0 !important;
    font-size: 10pt;
    padding-top: 10px;
}

.footerTextRight {
    float: right;
    padding-right: 27px;
    margin: 0 !important;
    font-size: 10pt;
    padding-top: 10px;
}

/*
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

/*

p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
*/